*.class
.vscode
.vscode/*
target
target/*
build
build/*
.gradle
.gradle/*
hs_err_pid*
*.MF
*.iml
.idea
.idea/*
.settings
.settings/*
banned-ips.json
banned-players.json
ops.txt
server.log
settings.yml
white-list.txt
worlds
worlds/*
plugins
plugins/*
players
players/*
resource_packs
resource_packs/*
vanilla_palettes
vanilla_palettes/*
.DS_Store
.factorypath
*.log
/logs
scoreboard.json